@font-face{
  font-family: Rez;
  src:url(Fonts/Rezland/Rez.ttf);
}
html{
	height: 100%;
}
body {
  font-family: Open Sans;
  height: 100%;
  overflow-x: hidden; 
  left: 0;
  top: 0;
  position: relative;
}
.menu {
  background: #202024 url('Images/menu-bg.png') repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}
.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}
.menu a,
.menu a:hover,
.menu a:visited {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
}
#cr p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 4px;
  font-size: 12px;
  font-family: Open Sans;
  color: #FFFFFF;
  border-top: 1px solid #636366;
}
#crs {
  padding-top: 2px;
  font-family: Rez;
  color: #3EABB8;
  font-size: 16px;
}
#menu-signup,
#menu-login,
#menu-contact,
#menu-about {
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}
.icon-menu {
  background-color: rgb(255,255,255);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 100;
}
.icon-menu i {
  margin-right: 5px;
  color: #000000;
}
.icon-menu p {
	margin-bottom: 0px;
  color: #000000;
}
.icon-menu #logo-top {
	text-align: center;
	font-family: Rez;
	font-size: 30px;
  color: #000000;
}
#logo-top a,
#logo-top a:hover,
#logo-top a:visited {
	text-decoration: none;
	color: #000000;
}
.pull-left {
	cursor: pointer;
	line-height: 42px;
}
.popup {
  z-index: 100;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
#about {
  font-size: 17px;
  background-color: #F1F1F1;
  color: #3EABB8;
  height: 124px;
  width: 362px;
  border-radius: 4px;
  position: absolute;
  margin-top: -62px;
  margin-left: -181px;
}
#about p {
  text-align: center;
  width: 362px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding: 0px 25px 0px 25 px;
  margin-bottom: 0px;
}
#signup {
  font-size: 17px;
  background-color: #F1F1F1;
  color: #000000;
  height: 400px;
  width: 362px;
  border-radius: 4px;
  margin-top: -200px;
  margin-left: -181px;
}
#signup p{
  text-align: center;
  width: 362px;
  font-size: 10px;
  padding: 0px 25px 0px 25px;
  margin-bottom: 0px;
}
#sin{
  padding:25px 25px 10px 25px;
  width: 362px;
  margin-bottom: 0px;
}
#signup #frm-lin-link {
  color: #3EABB8;
  cursor: pointer;
}
#login{
  font-size: 17px;
  background-color: #F1F1F1;
  color: #000000;
  height: 336px;
  width: 362px;
  margin-left: -181px;
  margin-top: -168px;
  border-radius: 4px;
}
.glyphicon-user{
  font-size: 65px;
  height: 130px;
}
#login p{
  text-align: center;
  width: 362px;
  font-size: 10px;
  padding: 0px 25px 0px 25px;
  margin-bottom: 0px;
}
#lin{
  padding:25px 25px 10px 25px;
  width: 362px;
  margin-bottom: 0px;
}
#login #frm-sin-link {
  color: #3EABB8;
  cursor: pointer;
}
#contact-us {
  font-size: 17px;
  background-color: #F1F1F1;
  color: #000000;
  height: 312px;
  width: 362px;
  margin-left: -181px;
  margin-top: -156px;
  border-radius: 4px;
}
#contact-us p{
  text-align: center;
  width: 362px;
  font-size: 10px;
  padding: 0px 25px 0px 25px;
  margin-bottom: 0px;
}
#cont{
  padding:25px 25px 10px 25px;
  width: 362px;
  margin-bottom: 0px;
}
.fres{
  height: 29px;
  width: 150px;
}
.sres{
  height: 29px;
  width: 300px;
}
.fres,.sres{
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-width: 1px;
}
.btn{
  width: 300px;
}
.overlay {
  position: absolute;
  display: none;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}
#pop-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
#filler {
  position: relative;
  top: 0;
  left: 0;
}
#filler img {
  min-height: 100%;
  min-width: 100%;
  padding-left: 2px;
  padding-right: 2px;
}
#filler h1 {
  position: absolute;
  left: 37%;
  top: 45%;
  color: #FFFFFF;
}
.container{
	background-color: #F1F1F1;
  padding-top:25px;
}
.row {
	padding-right: 20px;
	padding-left: 20px;
}
h2 {
	font-size: 40px;
	margin-bottom: 20px;
}
.col-md-7 p{
	text-align: justify;
}
#sitemap {
  background-color: #2A303C;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  color: #FFFFFF;
}
#sitemap .container {
  background-color: #2A303C;
  padding-bottom: 25px;
}
#logo {
  margin-top: 20px;
  font-family: Rez;
  font-size: 40px;
}
#sitemap p{
  font-family: Open Sans;
  font-size: 16px;
}
#sitemap ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sitemap #one li,
#sitemap li {
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  padding-bottom: 3px;
  padding-top: 3px;
}
#sitemap #one li {
  text-transform: uppercase;
}
#one {
  padding-left: 80px;
}
#sitemap a,
#sitemap a:hover,
#sitemap a:visited {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
}
#sup,
#log,
#cus {
  cursor: pointer;
}
#foot {
  margin-bottom: 0px;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  color: #353535;
}
.glyphicon-chevron-up {
  padding-right: 40px;
  cursor: pointer;
}